## Functions
def func_name(par1, par2,...): 
> body of code

In [ ]:
#addition
def my_add(x, y):
    print(x+y)

sum=my_add(3, 8)

11

In [ ]:
sum

In [ ]:
def fibo(n):    # write Fibonacci series up to n
  """Print a Fibonacci series up to n."""
  a, b = 0, 1
  while a < n:
    print(a, end=' ')
    a, b = b, a+b

fibo(10)

0 1 1 2 3 5 8

In [ ]:
help(fib0)

NameError: ignored

In [ ]:
help(fibo)

Help on function fibo in module __main__:

fibo(n)
    Print a Fibonacci series up to n.

In [ ]:
fibo.__doc__

'Print a Fibonacci series up to n.'

In [ ]:
?fibo

##Function with return

In [ ]:
def fibo(n):    # write Fibonacci series up to n
  """Print a Fibonacci series up to n."""
  a, b = 0, 1
  F_L = []
  while a < n:
    F_L.append(a)
    a, b = b, a+b
  return F_L

fibo(10)

In [ ]:
#return multiple values
def power(input):
    return input**2, input**3

power(3)

In [ ]:
x = 5
print(id(x))
x = 10
id(x)

In [ ]:
x = 10
id(x)

In [ ]:
def f(y):
    y = 5
    print(f'inside  function y is: {y} & id:{id(y)}')

x = 5
f(x)
print(f'outside function x is: {x}  & id:{id(x)}')

In [ ]:
def f(x):
    x=['Raipur']

    print(f'inside  function city_list is: {x} & id:{id(x)}')

city_list = ['Nagpur', 'Pune', 'Mumbai', 'Nasik']
print(f'Pre outside function city_list is: {city_list} & id:{id(city_list)}')
f(city_list)
print(f'outside function city_list is: {city_list} & id:{id(city_list)}')

In [ ]:
def f(x):
    x[0]=['Raipur']

    print(f'inside  function city_list is: {x} & id:{id(x)}')

city_list = ['Nagpur', 'Pune', 'Mumbai', 'Nasik']
print(f'Pre outside function city_list is: {city_list} & id:{id(city_list)}')
f(city_list)
print(f'outside function city_list is: {city_list} & id:{id(city_list)}')

In [ ]:
def pow(x, y=2):
  return x**y

print (f"The pow(4) is {pow(4)}")
print(f"The pow(5,3) is {pow(5,3)}")
print (f"The pow(5) is {pow(5)}")

In [ ]:
i=5
print(f'The argument outside before function is {i}')
def f(arg=i):
  print(f'The argument is {arg}')

i=6
f()
print(f'The argument outside after function is {i}')

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

##Syntax:
lambda arguments : expression

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b, c : a + b * c
print(x(5, 6, 2))

##Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
#Use that function definition to make a function that always doubles the number you send in
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

##Syntax:

> map(fun, iter)

##Parameters:

> fun : It is a function to which map passes each element of given iterable.
> iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

##Returns:

Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.) 
 
NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [ ]:
x, y = map(int, input().split())

In [ ]:
# Return double of n
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

In [ ]:
# Return double of n
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

In [ ]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

In [ ]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
  
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

##List, Multidimensional Lists,  Tuples, Sets, Dictionaries, and File, Exception handling in Python

<a id='list'></a>
### Lists
* Ordered collection of data [ ]
* Many times used to store homogeneous values (can also store heterogeneous values)
    * e.g. Numbers, names with the same data type (may be with different data types too)
* Mutable: modify in place without creating a new object

In [ ]:
my_list = [1,2,9,4]
l = ['sat', 'bat', 'cat', 'mat']
l1 = [1, 'SIT', 'Nagpur', 23.062022]
print(my_list,'\n',l,'\n',l1)

[1, 2, 9, 4]
 ['sat', 'bat', 'cat', 'mat']
 [1, 'SIT', 'Nagpur', 23.062022]

In [ ]:
l=['jan','feb','march','april','may','june','july','aug','sept','oct','nov','dec']

In [ ]:
print(l[6:9])
print(l[::2])
print(l[-1:-5:-1])

['july', 'aug', 'sept']
['jan', 'march', 'may', 'july', 'sept', 'nov']
['dec', 'nov', 'oct', 'sept']

In [ ]:
for x in range(1,5,1):
  print(x)

1
2
3
4

In [ ]:
lst = ['sat', 'bat', 'cat', 'mat']
print(lst[-1::-1])
print(lst[-1: ])
print(lst[-1:-4:-1])
print(lst[ : ])
print(lst[0:2])

['mat', 'cat', 'bat', 'sat']
['mat']
['mat', 'cat', 'bat']
['sat', 'bat', 'cat', 'mat']
['sat', 'bat']

###how to find out the type of an object in python?

In [ ]:
type(my_list)

list

In [ ]:
my_list2 = list(range(-4,10,2))
print(my_list2)

[-4, -2, 0, 2, 4, 6, 8]

In [ ]:
# access list members by index, start at 0, end at n-1
print("First element =", my_list[0])
print("last element =", my_list[3])

First element = 1
last element = 4

In [ ]:
#Python also supports negative indexing
print("last element =", my_list2[-1])
print("First element =", my_list2[-7])

last element = 8
First element = -4

In [ ]:
print(my_list)
print(my_list2)
#Contatenate lists
print(my_list + my_list2)
#repetition of lists
print(my_list *2)
#membership in list
print(9 in my_list)
print(9 not in my_list)

[1, 2, 9, 4]
[-4, -2, 0, 2, 4, 6, 8]
[1, 2, 9, 4, -4, -2, 0, 2, 4, 6, 8]
[1, 2, 9, 4, 1, 2, 9, 4]
True
False

In [ ]:
my_list.append(7)
my_list

[1, 2, 9, 4, 7]

In [ ]:
# modify list
del my_list[0]
print(my_list)
my_list.append(99)
print(my_list)
my_list.insert(1, 100); print(my_list)
my_list[3]=65
print(my_list)

[2, 9, 4, 7]
[2, 9, 4, 7, 99]
[2, 100, 9, 4, 7, 99]
[2, 100, 9, 65, 7, 99]

In [ ]:
#some list funs
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

[2, 7, 9, 65, 99, 100]
[100, 99, 65, 9, 7, 2]

In [ ]:
my_list4 = ['1','70','21','100']
#print(id(my_list4))
y = my_list4.sort()
print(my_list4)
print(y)
#print(id(my_list4))

['1', '100', '21', '70']
None

In [ ]:
l.sort()
print(l)
#Sorting is based on ASCII/Unicode

['april', 'aug', 'dec', 'feb', 'jan', 'july', 'june', 'march', 'may', 'nov', 'oct', 'sept']

In [ ]:
#more sorting
my_list3 = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list3))
print(sorted(my_list3, key=len))
print(sorted(my_list3, reverse=True))
print(my_list3)

['DOGS', 'SHEEP', 'cats', 'horses']
['cats', 'DOGS', 'SHEEP', 'horses']
['horses', 'cats', 'SHEEP', 'DOGS']
['cats', 'SHEEP', 'DOGS', 'horses']

In [ ]:
# sort by lowercase
sorted(my_list3, key=str.lower)

['cats', 'DOGS', 'horses', 'SHEEP']

##Multi-dimensional lists

In [ ]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(a)
print(a[1][3])
a[0]

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
12

[2, 4, 6, 8, 10]

In [ ]:
for record in a:
    print(record)

[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]

In [ ]:
for i in range(len(a)) : 
    for j in range(len(a[i])) : 
        print(a[i][j], end=" ")
    print()

2 4 6 8 10
3 6 9 12 15
4 8 12 16 20

In [ ]:
a.append([5, 10, 15, 20, 25])
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [ ]:
a[0].extend([12, 14, 16, 18])
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [ ]:
a[2].reverse()
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15], [20, 16, 12, 8, 4], [5, 10, 15, 20, 25]]

Creating a multidimensional list with all zeros:

In [ ]:
m = 4
n = 5
  
a = [[0 for x in range(n)] for x in range(m)]
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

<a id='tuple'></a>
## Tuples

* Why Tuple?
  * Processed faster than lists
  * Sequence of a Tuple is protected
  * Sequence unpacking

<b>Tuple</b> is same as <b>List</b>, the only difference is that tuples are <b>immutable. Faster</b> than list as it cannot be modified dynamically

In [ ]:
my_tuple = 1, 2, 'three'
print(my_tuple)
#empty tuples
my_empty_tuple = ()
print(my_empty_tuple)
type(my_tuple)

(1, 2, 'three')
()

tuple

In [ ]:
# you have to include a comma, even though there is only one value
tup1 = (50,)
print(tup1)
type(tup1)

(50,)

tuple

In [ ]:
tup2 = (50, 23)
print(type(tup2))
#tup2 = 50,
type(tup2)

<class 'tuple'>

tuple

In [ ]:
tup2[1]=98

TypeError: ignored

In [ ]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

(2, 8, 3, 1)
2 8 3 1

In [ ]:
print(my_tup[0])

2

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)

('physics', 'chemistry', 1997, 2000)

In [ ]:
del tup
print("After deleting tup : ");
print(tup)

After deleting tup :

NameError: ignored

Immutable?  Not?

In [ ]:
dum = ('1861-10-23', ['poetry', 'pretend-fight'])
dee = ('1861-10-23', ['poetry', 'pretend-fight'])

print(dum == dee)

print(dum is dee)

id(dum), id(dee)

True
False

(140356032776144, 140356032558576)

In [ ]:
dum+dee

('1861-10-23',
 ['poetry', 'pretend-fight'],
 '1861-10-23',
 ['poetry', 'pretend-fight'])

In [ ]:
t_doom = dum
print(dum, t_doom)

print(t_doom == dum)
print(t_doom is dum)
id(t_doom), id(dum)

('1861-10-23', ['poetry', 'pretend-fight']) ('1861-10-23', ['poetry', 'pretend-fight'])
True
True

(139815583469312, 139815583469312)

In [ ]:
skills = t_doom[1]
print(skills)

skills.append('rap')
print(t_doom)

['poetry', 'pretend-fight']
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

In [ ]:
t_doom[1].append('rapper')

Suprising Trait:

Python tuples are immutable, but their values may change. This may happen when a tuple holds a reference to any mutable object, such as a list. ... It's clear that dum and dee refer to objects that are equal, but not to the same object.

In [ ]:
print(dum == dee)
print(dum)
print(dee)

In [ ]:
dum[1]=40

<b>Set</b> is an unordered collection of unique items

In [ ]:
#Python Set
set1 = {3, 4, 5, 1, 2}
print(set1)

In [ ]:
set2 = {4,3,1,2,5}
set1 == set2
#print(set1 is set2)

In [ ]:
#Operations on Set
set1.add(9) #Add Element to Set
print(set1)
set1.update([3, 10]) #Update existing Set with new elements
print(set1)
set1.discard(2) #Removes an element from the Set (No Error if element does not exists, Set remains unchanged)
print(set1)
set1.remove(5) #Removes an element from the Set (Raises an error in element does not exists)
print(set1)
set1.pop() #removes random element
print(set1)
set1.clear() #Removes all elements from the Set 
print(set1)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
print(set1|set2)
print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
print(set1&set2)
print(set1.intersection(set2))

{3, 4}
{3, 4}

In [ ]:
print(set1-set2)
print(set1.difference(set2))

{1, 2}
{1, 2}

In [ ]:
print(set1^set2)
print(set1.symmetric_difference(set2))

{1, 2, 5}
{1, 2, 5}

<a id='dic'></a>
## Dictionaries
* List of key-value pairs { }
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous
* Element are accessed by a keyword, not index
* Elements are mutable 
* dict = {"key1”: value1,  “key2”: value2} 

<b>Dictionary</b> is an unordered collection of 'key':'value' pairs. It is generally used when we have a huge amount of data.
Dictionaries are optimized for retrieving data.

In [ ]:
#Python Dictionary
dict1 = {1:'value', 'key':2}
print(type(dict1))

<class 'dict'>

In [ ]:
#Create Dictionary in Python
dict2={"College":"NIT", "City":"Raipur", "City":"Nagpur"}
print(dict2["City"])
print(dict2["College"])

Nagpur
NIT

In [ ]:
#Update value of a key in Python Dictionary
dict2["College"]="National Institute of Technology"
print(dict2["College"])
dict2

National Institute of Technology

{'College': 'National Institute of Technology', 'City': 'Nagpur'}

In [ ]:
#Add new element to the existing Python Dictionary
dict2["State"]="Chhattisgarh"
print(dict2["State"])
print(dict2)

Chhattisgarh
{'College': 'NIT', 'City': 'Nagpur', 'State': 'Chhattisgarh'}

In [ ]:
dict3 = sorted(dict2);
print(dict3)
print(dict2.values())
print(dict2.keys())
type(dict3)

['City', 'College', 'State']
dict_values(['NIT', 'Nagpur', 'Chhattisgarh'])
dict_keys(['College', 'City', 'State'])

list

In [ ]:
#Print Sorted Dictionary
for i in ['City', 'College', 'State']:
  #print((i, dict2[i]), end = " ")
  print('{0} : {1}'.format(i, dict2[i]))

City : Nagpur
College : NIT
State : Chhattisgarh

<a id='file'></a>
## Files
* file open, close, read, write
* file_handle = open(“file_name”, ‘mode’)
  * Modes: 
    * a: append
    * r: read only (error if not existing)
    * w: write only
    * r+: read/write (error if not existing)
    * w+: read/write
    * b: binary
* Python has a built-in garbage collector
* Object memory space is auto reclaimed once a file is no longer in use

In [ ]:
input = open('/content/abc.txt', 'r')
content = input.read()
input.close()
print(content)

Hi Welcome Sagar. How are you doing

In [ ]:
#write to a file
output = open('write.txt','w')
output.write("Writing to a file any data you wish to write")
output.close()
#!cat write.txt

In [ ]:
input = open('/content/write.txt', 'r')
content = input.read()
input.close()
print(content)

Writing to a file any data you wish to write

In [ ]:
with open("/content/write.txt", "r") as file:
    data = file.readlines()
    for line in data:
        word = line.split()
        print (word)

['Writing', 'to', 'a', 'file', 'any', 'data', 'you', 'wish', 'to', 'write']

##Exceptions
  Exceptions are raised when the program is syntactically correct, but the code resulted in an error. This error does not stop the execution of the program, however, it changes the normal flow of the program.

In [ ]:
# initialize the amount variable
marks = 10000
 
# perform division with 0
a = marks / 0
print(a)

ZeroDivisionError: ignored

In the above example raised the ZeroDivisionError as we are trying to divide a number by 0. \\
**Note:** Exception is the base class for all the exceptions in Python. You can check the exception hierarchy here https://docs.python.org/2/library/exceptions.html#exception-hierarchy.

**Try and Except Statement –** Catching Exceptions
Try and except statements are used to catch and handle exceptions in Python. Statements that can raise exceptions are kept inside the try clause and the statements that handle the exception are written inside except clause.

In [ ]:
# Python program to handle simple runtime error
#Python 3
a = [1, 2, 3]
try:
    print ("Second element = %d" %(a[1]))
 
    # Throws error since there are only 3 elements in array
    print ("Fourth element = %d" %(a[3]))
 
except:
    print ("Index out of Bound")

Second element = 2
Index out of Bound

In the above example, the statements that can cause the error are placed inside the try statement (second print statement in our case). The second print statement tries to access the fourth element of the list which is not there and this throws an exception. This exception is then caught by the except statement.

**Catching Specific Exception**
A try statement can have more than one except clause, to specify handlers for different exceptions. Please note that at most one handler will be executed. For example, we can add IndexError in the above code. The general syntax for adding specific exceptions are –

try:
> #statement(s) \\

except IndexError:
> #statement(s) \\

except ValueError:
> #statement(s)

In [ ]:
# Program to handle multiple errors with one
# except statement in Python
 
def fun(a):
    if a < 4:
 
        # throws ZeroDivisionError for a = 3
        b = a/(a-3)
 
    # throws NameError if a >= 4
    print("Value of b = ", b)
     
try:
    #fun(3)
    fun(5)
 
# note that braces () are necessary here for multiple exceptions
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

NameError Occurred and Handled

**Try with Else Clause**
In python, you can also use the else clause on the try-except block which must be present after all the except clauses. The code enters the else block only if the try clause does not raise an exception.

In [ ]:
# Program to depict else clause with try-except
# Function which returns a/b
def AdivbyB(a , b):
    try:
        c = ((a+b) / (a-b))
    except ZeroDivisionError:
        print ("a/b result in 0")
    else:
        print (c)
 
# Driver program to test above function
AdivbyB(2.0, 3.0)
#AdivbyB(3.0, 3.0)

**Finally Keyword in Python**
Python provides a keyword finally, which is always executed after the try and except blocks. The final block always executes after normal termination of try block or after try block terminates due to some exception.

In [ ]:
# Python program to demonstrate finally
 
# No exception Exception raised in try block
try:
    k = 5//3  # raises divide by zero exception.
    print(k)
 
# handles zerodivision exception
except ZeroDivisionError:
    print("Can't divide by zero")
 
finally:
    # this block is always executed
    # regardless of exception generation.
    print('This is always executed')

1
This is always executed

**Raising Exception**
The raise statement allows the programmer to force a specific exception to occur. The sole argument in raise indicates the exception to be raised. This must be either an exception instance or an exception class (a class that derives from Exception).

In [ ]:
# Program to depict Raising Exception
try:
  raise NameError("Hi there")  # Raise Error
except NameError:
    print ("An exception")
    #raise  # To determine whether the exception was raised or not

The output of the above code will simply line printed as “An exception” but a Runtime error will also occur in the last due to the raise statement in the last line. So, the output on your command line will look like

##Classes and Objects in Python

In [ ]:
#Creating Class in Python
class Student:
  college = 'SIT' #Class Variable
  def __init__(self):
    self.sem = 'I' #Instance Variable
    self.strength = 66
    self.section = 'C'
  def Branch(self):
    print('This is Computer Engineering ' + self.sem + ' Semester')

In [ ]:
obj = Student()
obj.section

'C'

In [ ]:
print(type(obj))

<class '__main__.Student'>

In [ ]:
#Creating Class in Python by passing attributes as parameter
class Student1:
  college = 'SIT'
  def __init__(self, sem, strength, section):
    self.sem = sem
    self.strength = strength
    self.section = section
  def Branch(self):
    print('This is Computer Engineering ', self.sem + ' Semester')

In [ ]:
obj2 = Student1('II',58,'B')
obj2.section

'B'

In [ ]:
obj2.Branch() # This command internally calls Student1.Branch(obj2)

This is Computer Engineering  II Semester

In [ ]:
Student1.Branch(obj2)

This is Computer Engineering  II Semester

In [ ]:
#Creating Class in Python with self as MyVar
class Student2:
  college = 'SIT'
  def __init__(MyVar, sem, strength, section):
    MyVar.sem = sem
    MyVar.strength = strength
    MyVar.section = section
  def Branch(MyV):
    print('This is Computer Engineering ', MyV.sem + ' Semester')

In [ ]:
obj3 = Student2('III', 50, 'A')

In [ ]:
obj3.strength

50

In [ ]:
obj3.section = 'C'
obj3.section

'C'

In [ ]:
obj3 = Student3('III', 50, 'A')
obj3.SetName('Sagar') #Setting Instance Variable, This command internally calls Student2.SetName(obj3, 'Sagar')
obj3.Branch()

This is Computer Engineering Student  Sagar

In [ ]:
 # Deleting (Calling destructor)
#Creating Class in Python with self as MyVar
class Student2:
  college = 'SIT'
  def __init__(MyVar, sem, strength, section):
    MyVar.sem = sem
    MyVar.strength = strength
    MyVar.section = section
  def Branch(MyV):
    print('This is Computer Engineering ', MyV.sem + ' Semester')    
  def __del__(self):
    print('Destructor called, Student2 deleted.')

In [ ]:
obj4 = Student2('IV', 50, 'G')

In [ ]:
obj4.section

'G'

In [ ]:
del obj4

In [ ]:
obj4.section

NameError: ignored

In [ ]:
#Creating Class in Python with self as MyVar
class Student3:
  college = 'SIT'
  def __init__(MyVar, sem, strength, section):
    MyVar.sem = sem
    MyVar.strength = strength
    MyVar.section = section
  
  def SetName(self, name): #Adding new attribute or variable
    self.name = name
  def Branch(MyV):
    print('This is Computer Engineering Student ', MyV.name )

>Class BaseClass: \\
>{Body} \\
>Class DerivedClass(BaseClass): \\
>{Body}

In [ ]:
class University:
  univer_name = "SIU"
  def __init__(self):
    self.univer_city = "Pune"

  def Display(self):
    print('This is Symbiosis International (Deemed University)',self.univer_name)

In [ ]:
obj=University()
obj.univer_name

'SIU'

In [ ]:
class Student3(University):
  college = 'SIT'
  def __init__(self, sem, strength, section):
    self.sem = sem
    self.strength = strength
    self.section = section
  
  def SetName(self, name): #Adding new attribute or variable
    self.name = name
  def Branch(self):
    print('This is Computer Engineering Student ', self.name )

In [ ]:
My_stud = Student3('III', 87, 'A')
My_stud.college

'SIT'

In [ ]:
My_stud.Display()

This is Symbiosis International (Deemed University) SIU

In [ ]:
My_stud.Display()

This is Symbiosis International (Deemed University) SIU

In [ ]:
My_stud.univer_city

AttributeError: ignored

In [ ]:
class Faculty(University):
  college = 'SIT'
  def SetBranch(self, branch):
    self.branch = branch

In [ ]:
Fac = Faculty()
Fac.univer_city

'Pune'

In [ ]:
Fac.Display()

This is Symbiosis International (Deemed University) SIU

In [ ]:
Fac.SetBranch('Nagpur')
Fac.branch

'Nagpur'

In [ ]:
class Student3(University):
  college = 'SIT'
  def __init__(self, sem, strength, section):
    self.sem = sem
    self.strength = strength
    self.section = section
    University.__init__(self)
  
  def SetName(self, name): #Adding new attribute or variable
    self.name = name
  def Branch(self):
    print('This is Computer Engineering Student ', self.name )

In [ ]:
My_stud1 = Student3('V',65,'B')
My_stud1.univer_city

'Pune'

In [ ]:
class Polygon:
  def __init__(self, no_sides):
    self.no_sides = no_sides

  def Disc(self):
    print(f"I am {self.no_sides} side polygon")

  def In_Pri_Sides(self):
    sides = [float(a) for a in input().split()]
    for i in range(len(sides)):
      print(f"Side {i}: {sides[i]}")

In [ ]:
square = Polygon(4)

In [ ]:
square.Disc()

I am 4 side polygon

In [ ]:
square.In_Pri_Sides()

12 14 15 13
Side 0: 12.0
Side 1: 14.0
Side 2: 15.0
Side 3: 13.0

In [ ]:
def isPalindrome(s):
    s = s.lower()
    l = len(s)
    if l < 2:
      return True
    elif s[0] == s[l - 1]:
      return isPalindrome(s[1: l - 1])
    else:
      return False
# Main Code
s = input('Enter a string: ')
ans = isPalindrome(s)
 
if ans:
    print(f"Yes, {s} is a Palindrome")
 
else:
    print(f"No, {s} is not a Palindrome ")

Enter a string: Ragas
No, Ragas is not a Palindrome

In [ ]:
class Vehicle:
  def __init__(self, name, max_spd, avg):
     self.name = name
     self.max_speed = max_spd
     self.average = avg

In [ ]:
class Bus:
  pass

In [ ]:
class Bus(Vehicle):
  def Display(self):
    print(f'''This is {self.name} vehicle,
    I can drive at a speed of 
    {self.max_speed} km/hr 
    with an average of {self.average}.''')

In [ ]:
b = Bus('Volvo Bus', 120, 12.12)
b.Display()

This is Volvo Bus vehicle,
    I can drive at an speed of 120 km/hr
    with an average of 12.12.

In [ ]:
def sum_digit( n ):
    if n == 0:
        return 0
    return (n % 10 + sum_digit(int(n / 10)))
 
# Main Code
num = int(input('Enter a number: '))
result = sum_digit(num)
print("Sum of digits in",num,"is", result)

Enter a number: 546546
Sum of digits in 546546 is 30

Write a python program to create a module “BasicListOp” with functions for sorting a list, reversing a list and merging two lists. Import created module and show usage of any one function from ‘BasicListOp” module

In [ ]:
%%writefile BasicListOp.py
def Sort_List(ls):
  return sorted(ls)
def Rev_List(ls):
  ls.reverse()
  return ls
def Mer_List(ls1, ls2):
  return ls1 + ls2

Writing BasicListOp.py

In [ ]:
%cat BasicListOp.py

def Sort_List(ls):
  return sorted(ls)
def Rev_List(ls):
  ls.reverse()
  return ls
def Mer_List(ls1, ls2):
  return ls1 + ls2

In [ ]:
from BasicListOp import Mer_List
x=Mer_List([3,2,6,1],[3,2])
print(x)

[3, 2, 6, 1, 3, 2]

In [ ]:
tup = (1, 'SIT', 3.14)
tup[2]=7

TypeError: ignored

In [ ]:
tup1 = (1, 'SIT', [3.14])
print('Before: ',id(tup[2]))
tup1[2][0]=4
print('After: ',id(tup[2]))

Before:  140569392543088
After:  140569392543088

In [ ]:
pow(2,0.5)

1.4142135623730951